/* global.css */
body {
  margin: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: rgb(252, 250, 250);
  font-weight: 500;
}
.container
{
  margin: 25px;
}
.footer{
  font-size: 12px;
  margin: 25px;
  background-color:rgb(201, 201, 205);
  padding-bottom: 2px;
}
.footerText{
  margin: 20px;
}
.Copyright{
  text-align: center;
}

/* Ensures the image is not directly under the text. Therefore enhancing the user experience. */
.ComputerLabImage2{
  padding-top: 15px;
}

