/* Home Page CSS! */

/* Setting the background image so it will sit behind the welcome message. */
.WelcomeMessage{
    background-image: url(/images/MainAtrium.jpg);
    padding-bottom: 3px;
    padding-top: 75px;
    background-repeat: no-repeat;
    background-size: auto;
}

/* Adjusts the h1 of the welcome message */
.WelcomeMessage h1{
    padding-left: 30px;
    color: white;
    font-size: 55px;
    display: flex;
}
/* h1 is a slightly different size to h2. Therefore I chose not to edit the styling of them both within the same CSS command. */
.WelcomeMessage h2{
    padding-left: 30px;
    color: white;
    font-size: 47px;
    align-self: center;
    display: flex;
    margin-bottom: 5px;
    margin-left: 0;
}
.WelcomeMessage h3{
    padding-left: 30px;
    color:white;
    font-size: 47px;
    align-self: center;
    display: flex;
    margin-top: 5px;
}

/* Controls what happens when the welcome message is hovered over */
.WelcomeMessage h1:hover{
    color: whitesmoke;
}
.WelcomeMessage h2:hover{
    color: darkgoldenrod;
}

.WelcomeMessage h3:hover{
    color:rgb(81 61 13)
}
